.title{
  font-weight: 400;
  font-size: 35px;  
}

.ratings{


}

.overview:hover {
    overflow-y: auto;
  }

.overview{
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    height: 100px;
    overflow-y: hidden;
    margin-top: 10px;
}